@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poetsen+One&family=Press+Start+2P&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: thin;
}

*::-webkit-scrollbar {
  width: 8px;
  background-color: grey;
}
a {
  text-decoration: inherit;
  color: inherit;
}

.app {
    min-height: 98vh;
    border: 8px solid #000000;
    margin: 5px;
    padding: 5px;
  }
  
.mainImg {
  padding: 10px 0 5px 0;
}